<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="zegaclabs" translate="label" sortOrder="999">
            <label>ZegacLabs</label>
        </tab>

        <section id="devaccelerator" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Dev Accelerator</label>
            <tab>zegaclabs</tab>
            <resource>ZegacLabs_DevAccelerator::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="module_enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Dev Accelerator</label>
                    <comment>Enable/disable all Dev Accelerator features</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="template_comments" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Template Comments</label>
                    <comment>Show template file paths in HTML comments</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>

                <field id="container_comments" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Container Comments</label>
                    <comment>Show container names in HTML comments</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="module_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
